$component-width: 400px;

.component-container {
    display: block;
    width: $component-width;
    background-color: #FFF;
    margin: 30px 0px 0px 50px;
    overflow: hidden;
    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2);
    border-radius: 10px;
}

.table-container {
    width: $component-width;
    text-align: center;
}

.card-container {
    display: flex;
    width: $component-width;
    --height: 120px;
    height: var(--height);
}

.icon-container {
    float: left;
    color: #FFF;
    padding: 0 20px;
    font-size: 50px;
    background-color: #017B8E;
    align-items: center;
    display: inline-flex;
    text-align: center;
    width: 15%;
}

.info-container {
    padding-left: 10px;
    width: 90%;
}

.white-container {
    background-color: #FFF;
    border-radius: 0px 15px 15px 0px;
    width: 85%;
    align-items: center;
    display: inline-flex;
}

.quantity, .title {
    margin: 5px;
    padding-right: auto;
}

.quantity {
    font-weight: bold;
    color: #E2953E; 
}

.title {
    font-size: 80%;
}

.icon {
    width: 58px;
}

.toggle-list {
    float: right;
    display: block;
    width: fit-content;
    padding: 5px 6px 5px 6px;
    margin-right: 10px;
}

.arrow-up {
    background-color: #E29019;
    border-radius: 50%;
    color: #FFF;
}