<div class="component-container">
  <div class="card-container">
    <div class="icon-container">
      <fa name="{{ icon }}" class="icon"></fa>
    </div>
    <div class="row white-container">
      <div class="info-container">
        <p class="quantity">{{ quantity }}</p>
        <p class="title">{{ title }}</p>
      </div>
      <fa *ngIf="!showTable" name="chevron-down" class="toggle-list" (click)="toggleList()"></fa>
      <fa *ngIf="showTable" name="chevron-up" class="toggle-list arrow-up" (click)="toggleList()">
      </fa>
    </div>
  </div>
  <div *ngIf="showTable" class="table-container">
    <trainee-table [companies]="company"></trainee-table>
  </div>
</div>