.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #FFF;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
}

h3 {
    text-align: left;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
mat-form-field {
    float: left;
}

.table {
    width: 90%;
}

.input, .select, .label {
    display: block;
    width: 70%;
    border-radius: 5px;
    height: 25px;
}

.label {
    text-align: left;
    font-size: 75%;
    color: #000;
}

.checkbox {
    margin-right: 5px;
}

.checkbox-container {
    display:flex;
    padding: 5px 8px;
    width: fit-content;
    background-color: #DADADA;
    border-radius: 5px;
}

.btn {
    background-color: #E29019;
    color: #FFF;
    padding: 9px 18px;
    border-radius: 5px;
}

.btn:disabled {
    background-color: #9a9a9a;
}