<div>
  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <span (click)="close()" class="close">&times;</span>
      <div *ngIf="distribuidora">
        <h3>EDITAR DISTRIBUIDORA</h3>
        <form (ngSubmit)="distribuidoraSubmit()" #distribuidoraForm="ngForm">
          <table class="table">
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input [(ngModel)]="distribuidora.name" #distribuidoraName="ngModel" type="text" class="input"
                    id="name" name="name">
                  <label class="label" for="name">Nome</label>
                </td>
                <td>
                  <select [(ngModel)]="distribuidora.estado" #estadoName="ngModel" class="select" id="estado"
                    name="estado">
                    <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                  </select>
                  <label class="label" for="estado">Estado</label>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox-container">
                    <input [(ngModel)]="distribuidora.is_active" #isActive="ngModel" type="checkbox" class="checkbox"
                      id="is_active" name="is_active">
                    <span *ngIf="distribuidora.is_active">Ativo</span>
                    <span *ngIf="!distribuidora.is_active">Inativo</span>
                  </div>
                  <label class="label" for="is_active">Ativo</label>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <button [disabled]="distribuidoraName.pristine && estadoName.pristine && isActive.pristine" type="button"
            class="btn" (click)="distribuidoraSubmit()">SALVAR</button>
        </form>
      </div>
      <div *ngIf="empresa">
        <h3>EDITAR EMPRESA</h3>
        <form (ngSubmit)="empresaSubmit()" #empresaForm="ngForm">
          <table class="table">
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input class="input" [(ngModel)]="empresa.name" #empresaName="ngModel" type="text" id="name"
                    name="name">
                  <label class="label" for="name">Nome</label>
                </td>
                <td>
                  <input class="input" [(ngModel)]="empresa.nome_fantasia" #nomeFantasia="ngModel" type="text"
                    id="nome_fantasia" name="nome_fantasia">
                  <label class="label" for="nome_fantasia">Nome Fantasia</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="input" [(ngModel)]="empresa.cnpj" #cnpj="ngModel" type="text" id="cnpj" name="cnpj">
                  <label class="label" for="cnpj">CNPJ</label>
                </td>
                <td>
                  <select class="select" [(ngModel)]="empresa.estado" #empresaEstado="ngModel" id="estado"
                    name="estado">
                    <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
                  </select>
                  <label class="label" for="estado">Estado</label>
                </td>
              </tr>
              <tr>
                <td>
                  <input class="input" [(ngModel)]="empresa.endereco_faturamento" #faturamento="ngModel" type="text"
                    id="endereco_faturamento" name="endereco_faturamento">
                  <label class="label" for="endereco_faturamento">Endereço Faturamento</label>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <button
            [disabled]="empresaName.pristine && nomeFantasia.pristine && cnpj.pristine && empresaEstado.pristine && empresaEstado.pristine && faturamento.pristine"
            type="button" class="btn" (click)=empresaSubmit()>SALVAR</button>
        </form>
      </div>
    </div>
  </div>
</div>