@import "src/styles/variables";
html {
    min-height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    width: 100%;
    background: $background-color;
    margin: 0px;
    color: $text-color;
    font-family: $font-family;
    overflow-y: scroll;
}

*:focus {
    outline: none;
}