<main class="app-main">
    <trainee-navbar></trainee-navbar>
    <article class="app-container">
        <div class="app-content">
            <div *ngIf="isLoaded">
                <trainee-card [company]="distribuidoras" [icon]="distribuidorasIcon"></trainee-card>
                <trainee-card [company]="empresas" [icon]="empresasIcon"></trainee-card>
            </div>
        </div>
    </article>
</main>