<div class="component-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="checkbox">
      <th mat-header-cell *matHeaderCellDef class="checkbox"><input type="checkbox"></th>
      <td mat-cell *matCellDef="let element" class="checkbox"><input type="checkbox"></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element" class="middle-cell"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="cnpj">
      <th mat-header-cell *matHeaderCellDef> CNPJ </th>
      <td mat-cell *matCellDef="let element" class="middle-cell"> {{element.cnpj}} </td>
    </ng-container>

    <ng-container matColumnDef="nome_fantasia">
      <th mat-header-cell *matHeaderCellDef> Nome Fantasia </th>
      <td mat-cell *matCellDef="let element"> {{element.nome_fantasia}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="openModal(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
  <trainee-modal [rowData]="currentRowClicked" (closeModal)="closeModal($event)" *ngIf="showModal"></trainee-modal>
</div>